<!DOCTYPE html>
@*@model IEnumerable<MyWeb.Areas.Front.Models.ViewModel>*@
<html>
<head>
    <title>Hệ thống giám sát và cảnh báo thông minh iNSC</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Loading bootstrap css-->
    <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700">
    <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,700,300">
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/Admin/styles/jquery-ui-1.10.4.custom.min.css")">
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/Admin/styles/font-awesome.min.css")">
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/Admin/styles/bootstrap.min.css")">
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/Admin/styles/animate.css")">
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/Admin/styles/all.css")">
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/Admin/styles/main.css")">
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/Admin/styles/style-responsive.css")">
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/Admin/styles/zabuto_calendar.min.css")">
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/Admin/styles/pace.css")">
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/Admin/styles/jquery.news-ticker.css")">
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/Admin/styles/Site.css")">
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/Admin/styles/HoldOn.css")">
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/Front/Styles/bootstrap-datetimepicker.min.css")">

    <style type="text/css">
        /*Added css for design notification area, you can design by your self*/
        /* COPY css content from youtube video description*/
        .noti-content {
            position: fixed;
            right: 0px;
            background: #e5e5e5;
            border-radius: 4px;
            top: 57px;
            width: 350px;
            display: none;
            border: 1px solid #9E988B;
        }

        ul#notiContent {
            max-height: 300px;
            overflow: auto;
            padding: 0px;
            margin: 0px;
            /*padding-left: 20px;*/
        }

            ul#notiContent li {
                margin: 3px;
                padding: 6px;
                background: #fff;
            }

        .noti-top-arrow {
            border-color: transparent;
            border-bottom-color: #ffffff;
            border-style: dashed dashed solid;
            border-width: 0px 8.5px 16.5px;
            position: absolute;
            right: 170px;
            top: -13px;
        }

        span.noti {
            color: white;
            margin: 17px;
            position: fixed;
            margin-left: 495px;
            font-size: 22px;
            cursor: pointer;
        }

        span.count {
            display: block;
            position: absolute;
            /*background: #E1141E;*/
            color: #FFF;
            font-size: 15px;
            font-weight: normal;
            padding: 1px 3px;
            margin: 0px 0px 0px 15px;
            border-radius: 2px;
            -moz-border-radius: 2px;
            -webkit-border-radius: 2px;
            z-index: 1;
        }
    </style>

    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>

<body>
    <div>
        <!--BEGIN BACK TO TOP-->
        <a id="totop" href="#"><i class="fa fa-angle-up"></i></a>
        <!--END BACK TO TOP-->
        <!--BEGIN TOPBAR-->
        @*<div id="header-topbar-option-demo" class="page-header-topbar">
                <nav id="topbar" role="navigation" style="margin-bottom: 0;" data-step="3" class="navbar navbar-default navbar-static-top">
                    <div class="navbar-header">
                        <button type="button" data-toggle="collapse" data-target=".sidebar-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                        <a id="logo" href="index.html" class="navbar-brand"><span class="fa fa-rocket"></span><span class="logo-text">Home</span><span style="display: none" class="logo-text-icon">µ</span></a>
                    </div>
                    <!--BEGIN INFO LOGIN-->
                    <div class="topbar-main">
                        @Html.Partial("_InfoAcountAdminPartial")
                    </div>
                    <!--END INFO LOGIN-->
                </nav>
            </div>*@
        <!--END TOPBAR-->
        @*<div id="header-logo">
                <div class="row">
                    <img src="/Images/banner.jpg" style="width: 100%;height: 100px"/>
                </div>
            </div>*@
        <div id="wrapper">
            <!--BEGIN PAGE WRAPPER-->
            <div id="page-wrapper" style="margin: 0 !important">
                <!--BEGIN TITLE & BREADCRUMB PAGE-->
                <div class="col-md-12 headerdiv">
                    <div class="col-md-12 centerdiv header">
                        <div class="header_logo">
                            <a href="/">
                                <img src="/Images/imgpsh_fullsize1.jpg" />
                            </a>
                            <a href="/">
                                @{Html.RenderAction("LogoOfAgency", "PartialView");}
                            </a>
                        </div>
                        <ul id="generalTab" class="nav nav-tabs responsive hidden-xs hidden-sm">

                            <li class="active"><a href="#video-tab" data-toggle="tab">Video thời gian thực</a></li>
                            <!--<li ><a href="#livestream-tab" data-toggle="tab">Live</a></li>-->
                            <li class=""><a href="#history-tab" data-toggle="tab">Dữ liệu lịch sử</a></li>
                            <li class=""><a href="#report-tab" data-toggle="tab">Báo cáo</a></li>
                            @*<li class="">@Html.Partial("_infoCameraPartial")</li>*@
                            <li class=""><a href="#manageCamera-tab" data-toggle="tab">Camera</a></li>
                            @*<li class=""><a href="#config-tab" data-toggle="tab">Cài đặt chức năng camera</a></li>*@
                            <li class=""><a href="#appstore-tab" data-toggle="tab">Kho ứng dụng</a></li>

                            @*<li class=""><a href="#notifi-tab"></a></li>*@
                            @*Notifications*@
                            @*<li class="">@{Html.RenderAction("TabNotification", "PartialView");}</li>*@
                            <li class="">
                                <span class="count">&nbsp;</span>
                                <div id="noti_Button" style="cursor: pointer; margin-top:15px ">
                                    <img src="~/Images/noti.png" style="width:25px;height:25px" />
                                </div>
                                <div class="noti-content">
                                    @*<div class="noti-top-arrow"></div>*@
                                    <ul id="notiContent"></ul>
                                </div>
                            </li>
                            <li class="">@Html.Partial("_InfoAcountAdminPartial")</li>
                        </ul>
                    </div>
                </div>
                <!--END TITLE & BREADCRUMB PAGE-->
                <!--BEGIN CONTENT-->
                <div class=" col-md-12 centerdiv page-content">
                    <div id="tab-general">
                        <div class="">
                            @RenderBody()
                            @Html.AntiForgeryToken()
                        </div>
                    </div>
                </div>
                <!--END CONTENT-->
                <!--BEGIN FOOTER-->
                <div id="footer" style="text-align:center">
                    <div class="copyright">
                        <a href="#">Hệ thống giám sát và cảnh báo thông minh iNSC</a>
                    </div>
                </div>
                <!--END FOOTER-->
            </div>
            <!--END PAGE WRAPPER-->
        </div>
    </div>
    <div id="showImgnoti">
        @Html.Partial("_ptvShowImageNotification")
    </div>
    <div id="showModelUpdatePass"></div>
    <div id="myUpdateInfo"></div>
    <div id="showModelFeedback"></div>


    <script src="@Url.Content("~/Scripts/jquery-1.8.2.min.js")"></script>
    <script src="~/Content/Front/Scripts/jqcarouse.js"></script>
    <script src="@Url.Content("~/Content/Admin/script/jquery-migrate-1.2.1.min.js")"></script>
    <script src="@Url.Content("~/Content/Admin/script/jquery-ui.js")"></script>
    <script src="@Url.Content("~/Content/Admin/script/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Content/Admin/script/bootstrap-hover-dropdown.js")"></script>
    <script src="@Url.Content("~/Content/Admin/script/html5shiv.js")"></script>
    <script src="@Url.Content("~/Content/Admin/script/respond.min.js")"></script>
    <script src="@Url.Content("~/Content/Admin/script/jquery.metisMenu.js")"></script>
    <script src="@Url.Content("~/Content/Admin/script/jquery.slimscroll.js")"></script>
    <script src="@Url.Content("~/Content/Admin/script/jquery.cookie.js")"></script>
    <script src="@Url.Content("~/Content/Admin/script/icheck.min.js")"></script>
    <script src="@Url.Content("~/Content/Admin/script/custom.min.js")"></script>
    <script src="@Url.Content("~/Content/Admin/script/jquery.menu.js")"></script>
    <script src="@Url.Content("~/Content/Admin/script/pace.min.js")"></script>
    <script src="@Url.Content("~/Content/Admin/script/holder.js")"></script>
    <script src="@Url.Content("~/Content/Admin/script/responsive-tabs.js")"></script>
    <script src="@Url.Content("~/Content/Admin/script/jquery.flot.js")"></script>
    <script src="@Url.Content("~/Content/Admin/script/jquery.flot.categories.js")"></script>
    <script src="@Url.Content("~/Content/Admin/script/jquery.flot.pie.js")"></script>
    <script src="@Url.Content("~/Content/Admin/script/jquery.flot.tooltip.js")"></script>
    @*<script src="@Url.Content("~/Content/Admin/script/jquery.flot.resize.js")"></script>*@

    <script src="@Url.Content("~/Content/Admin/script/jquery.flot.fillbetween.js")"></script>
    <script src="@Url.Content("~/Content/Admin/script/jquery.flot.stack.js")"></script>
    <script src="@Url.Content("~/Content/Admin/script/jquery.flot.spline.js")"></script>
    <script src="@Url.Content("~/Content/Admin/script/zabuto_calendar.min.js")"></script>
    <script src="@Url.Content("~/Content/Admin/script/HoldOn.js")"></script>
    <!--Validate-->
    @Scripts.Render("~/bundles/jqueryval")
    <!--Editter-->
    <script src="@Url.Content("~/Content/ckeditor/ckeditor.js")"></script>
    <script src="@Url.Content("~/Content/ckfinder/ckfinder.js")"></script>
    <!--CORE JAVASCRIPT-->
    <script src="@Url.Content("~/Content/Admin/script/main.js")"></script>
    <script src="@Url.Content("~/Content/Admin/script/MasterAdmin.js")"></script>
    <script src="@Url.Content("~/Scripts/moment-with-locales.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-datetimepicker.min.js")"></script>
    @RenderSection("jsmore", false)
    @*<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>*@
    @*<script src="@Url.Content("~/Scripts/jquery.signalR-2.2.1.min.js")"></script>
        <script src="@Url.Content("~/Scripts/jquery-3.1.0.min.js")"></script>
        <script src="@Url.Content("~/Scripts/jquery.signalR-2.2.1.js")"></script>*@
    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    @*<script src="~/Scripts/jquery-3.1.0.min.js"></script>*@
    <script src="/signalr/hubs"></script>
    <script type="text/javascript">
        @*__RequestVerificationToken = '@Html.AntiForgeryToken()';
        __ShowAjaxProcessing = true;
        $(document).on({
            ajaxStart: function () {
                if (window.__ShowAjaxProcessing) {
                    HoldOn.open({
                        theme: "sk-circle",//If not given or inexistent theme throws default theme sk-rect
                        message: "",//(you cand create HTML and css)
                        content: "Your HTML Content", // If theme is set to "custom", this property is available - (you cand create HTML and css)
                        // this will replace the theme by something customized.
                        backgroundColor: "#000",//Change the background color of holdon with javascript
                        // Keep in mind is necessary the .css file too.
                        textColor: "#FFFFFF" // Change the font color of the message
                    });
                }
                window.__ShowAjaxProcessing = true;
            },
            ajaxStop: function () {
                HoldOn.close();
                $("input[name=__RequestVerificationToken]").remove();
                $("form").append(__RequestVerificationToken);
            }
        });
        $(document).ready(function () {
            $(".page-content").height($("body").height() - 105);

            $(".video-div .thumbnail-video").height(($("body").height() - 305) / 2);
            $.ajaxSetup({
                data: {
                    __RequestVerificationToken: $("input[name=__RequestVerificationToken]").val()
                }
            });
            $("input[name=__RequestVerificationToken]").remove();
            $("form").append(__RequestVerificationToken);
        });
        function DisableAjaxProcessing() {
            window.__ShowAjaxProcessing = false;
        }*@
        //var count = 0;
        $(function () {
            $('#noti_Button').click(function (e) {
                e.stopPropagation();
                $('.noti-content').fadeToggle('fast', 'linear', function () { });
                var count = 0;
                count = parseInt($('span.count').html()) || 0;
                //only load notification if not already loaded
                if (count > 0) {
                    updateNotification();
                }
                $('span.count', this).html('&nbsp;');
                //$('span.count').fadeOut('slow');
                //count = null;
                //$('span.count').html(count);
                // HIDE THE COUNTER.
            });

            // Click on notification icon for show notification
            //$('span.noti').click(function (e) {
            //    e.stopPropagation();
            //    $('.noti-content').show();
            //    var count = 0;
            //    count = parseInt($('span.count').html()) || 0;
            //    //only load notification if not already loaded
            //    if (count > 0) {
            //        updateNotification();
            //    }
            //    $('span.count', this).html('&nbsp;');
            //})
            // hide notifications
            $('html').click(function () {
                $('.noti-content').hide();
            })

            // update notification
            function updateNotification() {
                $('#notiContent').empty();
                $('#notiContent').append($('<li>Loading...</li>'));
                var url = '@Url.Action("GetNotificationContacts", "Home")';
                $.ajax({
                    type: 'GET',

                    success: function (response) {
                        $('#notiContent').empty();
                        if (response.length == 0) {
                            $('#notiContent').append('<li>Không có thông báo</li>');
                        }
                        $.getJSON(url, displayData);
                    },
                    error: function (error) {
                        console.log(error);
                    }
                })
            };
            function displayData(response) {
                if (response != null) {
                    for (var i = 0; i < response.length; i++) {
                        $("#notiContent").append("<li style='list-style:none; cursor: pointer' onclick='showimage(\"" + response[i].url + "\")' ><div style='height:40px; width:40px; float:left'><img  src='" + response[i].Image + "' style='width:40px; height:40px'/></div><div style='margin-left: 45px;'>" + response[i].Name + ", " + response[i].Function + "</br>" + response[i].Time + "</div></li>")
                    }
                }
            };
            // update notification count
            function updateNotificationCount() {
                //var count = 0;
                count = parseInt($('span.count').html()) || 0;
                count++;
                $('span.count').html(count);
                $('span.count').fadeIn();
            };
            // signalr js code for start hub and send receive notification
            var notificationHub = $.connection.notificationHub;
            $.connection.hub.start().done(function () {
                console.log('Notification hub started');
            });

            //signalr method for push server message to client
            notificationHub.client.notify = function (message) {
                if (message && message.toLowerCase() == "added") {
                    updateNotificationCount();
                }
            }
        });
        function showimage(img) {
            $('#imagenoti').attr('src', img);
            $('#imagenotification').modal('show');
        };
    </script>
</body>
</html>
