@using MyWeb.Models
@using MyWeb.HtmlHelpers
@model MyWeb.Models.AccountModel
@{
    var mess = ViewBag.MessageCommand as MesageModel.MessagesModel ?? new MesageModel.MessagesModel();
}
@Scripts.Render("~/bundles/jqueryval")
<div class="modal fade" id="myModalUpdatePass" style="z-index: 9999999999" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content" style="-ms-border-radius: 6px !important; border-radius: 6px !important;">
            <div class="modal-header" style="background-color: #bf4346; -ms-border-radius: 5px 5px 0 0; border-radius: 5px 5px 0 0;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-center" style="color: white;">Thay đổi mật khẩu</h4>
            </div>
            @using (Ajax.BeginForm("ChangePassword", "Account", new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "POST",
            OnFailure = "failure",
            UpdateTargetId = "messageInfoUpdatepassword",
            //OnSuccess = "success"
        }, new { id = "frmUpdatePassword", @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.UserName)
                <div class="modal-body">
                    <div class="row" style="padding: 10px">
                        <div class="form-group" id="messageInfoUpdatepassword">
                            @Html.Partial("~/Views/Shared/_Message.cshtml", mess)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Passwords, new { @class = "col-md-4" })
                            <div class="col-md-7">
                                @Html.ValidationHtmlMessageFor(model => model.Passwords, "", new { @class = "field-validation-valid" })
                                @Html.PasswordFor(model => model.Passwords, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.NewPasswords, new { @class = "col-md-4" })
                            <div class="col-md-7">
                                @Html.ValidationHtmlMessageFor(model => model.NewPasswords, "", new { @class = "field-validation-valid" })
                                @Html.PasswordFor(model => model.NewPasswords, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ConfirmPasswords, new { @class = "col-md-4" })
                            <div class="col-md-7">
                                @Html.ValidationHtmlMessageFor(model => model.ConfirmPasswords, "", new { @class = "field-validation-valid" })
                                @Html.PasswordFor(model => model.ConfirmPasswords, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-red" style="background: #bf4346;color: white;">
                        Cập nhật
                    </button>
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Quay lại</button>
                </div>
            }
        </div>

    </div>
</div>
