@model List<MyWeb.Models.CameraModel>
@{
    if (Model.Any() && Model != null)
    {
        if (Model.Count <= 6)
        {
            foreach (var item in Model)
            {
                <div class="col-md-2">
                    <div class="tab-list-camera" id="clik-cam-@item.CAMERA_ID">
                        <a href="#" onclick="ShowImageByCamera('@item.CAMERA_ID')">
                            <img src="~/Images/camera.png" alt="" />
                            <h6>@item.CAMERA_NAME</h6>
                        </a>
                    </div>
                </div>
            }
        }
        else
        {
            var count = Model.Count();
            const int num = 6;
            var stt = 0;
            var totalPage = (count + num - 1) / num;
            <div id="myCarousel-cam" style="padding-left: 4px; margin-left: 10px; height:110px" class="carousel slide">
                <div class="carousel-inner">
                    @for (int i = 1; i <= totalPage; i++)
                    {
                        if (stt == 0)
                        {
                            <div class="item active">
                                <div class="row">
                                    @{ var data = Model.OrderBy(x => x.CAMERA_ID).Skip(num * i - num).Take(num).ToList(); }
                                    @foreach (var item in data)
                                    {
                                        <div class="col-md-2 nomarginbottom">
                                            <div class="tab-list-camera" id="clik-cam-@item.CAMERA_ID">
                                                <a href="#" onclick="ShowImageByCamera('@item.CAMERA_ID')">
                                                    <img src="~/Images/camera.png" alt="" />
                                                    <h6>@item.CAMERA_NAME</h6>
                                                </a>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                                    stt++;
                        }
                        else
                        {
                            <div class="item">
                                <div class="row">
                                    @{ var data = Model.OrderBy(x => x.CAMERA_ID).Skip(num * i - num).Take(num).ToList(); }
                                    @foreach (var item in data)
                                    {
                                        <div class="col-md-2">
                                            <div class="tab-list-camera" id="clik-cam-@item.CAMERA_ID">
                                                <a href="#" onclick="ShowImageByCamera('@item.CAMERA_ID')">
                                                    <img src="~/Images/camera.png" alt="" />
                                                    <h6>@item.CAMERA_NAME</h6>
                                                </a>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                    }
                </div>
                <a class="left carousel-control" href="#myCarousel-cam" data-slide="prev"><i class="fa fa-chevron-circle-left" style="font-size: 26px"></i></a>
                <a class="right carousel-control" href="#myCarousel-cam" data-slide="next"><i class="fa fa-chevron-circle-right fa-3" style="font-size: 26px"></i></a>
            </div>
        }
    }
}
<script>
    $(document).ready(function () {
        $('#myCarousel-cam').carousel({
            interval: false
        });
        //$(".prev-slide").click(function () {
        //    $("#myCarousel").carousel('prev');
        //});

        //// Cycles to the next item
        //$(".next-slide").click(function () {
        //    $("#myCarousel").carousel('next');
        //});
        //-----------------
        //$('#myCarousel-cam').on('slid.bs.carousel', function () {
        //    //var id = 0;
        //    //alert("slid");
        //    var index = $('#myCarousel-cam .item').index($('#myCarousel-cam .carousel-inner .active')); // find the index of current slide
        //    index = index + 1;
        //    alert(index);
        //});
        $('.tab-list-camera').click(function () {
            $('.tab-list-camera').removeClass('active-cam');
            $(this).addClass('active-cam');
        });
    });
</script>